* {
    padding: 0px;
    margin: 0px;
}

.main_img{
    width: 100%;
    height: 100%;
}

.div1{
     
    /* height: 367.52px;
    position: relative;  */
}

.txt_hand{
    color: #282F2F;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 119%; 
    letter-spacing: -1.375px;
    text-transform: capitalize;
    position: absolute;
    top: 30%;
    left: 8%;
}

.blogs{
    color: #F6911E;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 119%;
    letter-spacing: -1.375px;
    text-transform: capitalize;
    position: absolute;
    top: 30%;
    left: 25%;
}

.txt1{
    color: #3C3C3C;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.069px;
    display: flex;
}

.txt2{
    position: absolute;
    top: 48%;
    left: 8%;
}

.list1{
    /* width: 649px;
height: 568px; */
flex-shrink: 0;
display: flex;
}

.top1{
    color: #262626;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 45px */
text-transform: uppercase;
width: 127.319px;
height: 38.35px;
flex-shrink: 0;
margin-left: 100px;
}

.s_img1{
    width: 649px;
height: 427px;
flex-shrink: 0;
margin-left: 100px;
}

.dess{
    display: flex;
    justify-content: space-between;
}

.des1{
    color: #262626;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 100px;
}

.date1{
    color: var(--gray-3, #828282);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.read1{
    color: #F6911E;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    width: 88px;
    margin-left: 15%;
}

.list2{
    display: flex;
}

.top1{
    display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
}

.s_img2{
    width: 273.483px;
    height: 177.207px;
    flex-shrink: 0;
}

.dess2{
    display: flex;
}

.des2{
    color: #262626;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.date2{
    color: var(--gray-3, #828282);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.read2{
    color: #F48120;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.top2{
    display: flex;
}