.div1{
    display: flex;
    margin-left: 40px;
    margin-bottom: 20px;
}
.imge2{
    width: 1151.472px;
    height: 553px;
    flex-shrink: 0;
    margin-left: 40px;

}

.div1a{
    margin-left: 20px;
}

.div2a{
    color: #262626;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 40px;
}

/* .div2b{
    margin-bottom: 100%;
    margin-left: 50%;
    height: 20px;
    width: 10px;
} */

.div3{
    width: 863px;
    color: #262626;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
    
}


.div4{
    width: 851px;
    height: 124px;
    flex-shrink: 0;
    color: #262626;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.div5{
    width: 850px;
    color: var(--gray-1, #333);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 40px;

}

.div6{
    width: 803px;
    height: 40px;
    color: #111;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 40px;
}

.div7{
    width: 803px;
    color: #111;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 40px;
}

.div8{
    width: 803px;
    color: #111;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 40px
}

.div9{
    width: 803px;
    color: #111;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 40px;
}

.div10{
    width: 813.223px;
    color: var(--gray-1, #333);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.div11{
    width: 801.915px;
    height: 124px;
    flex-shrink: 0;
    color: var(--gray-1, #333);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.div12{
    width: 813.223px;
    color: var(--gray-1, #333);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.div13{
    width: 801.915px;
    height: 128px;
    flex-shrink: 0;
    color: var(--gray-1, #333);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.div14{
    width: 813.223px;
    color: var(--gray-1, #333);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.div15{
    width: 801.915px;
    height: 124px;
    flex-shrink: 0;
    color: var(--gray-1, #333);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;

}

.div16{
    color: var(--gray-1, #333);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 33px */
    text-transform: uppercase;
    margin-left: 60px;
}

.div17{
    display: flex;
    margin-left: 20px;
}

.div20{
    margin-left: 40px
}

.div21{
    margin-left: 40px;
}

.div22{
    margin-left: 40px;
}

.main1{
    margin-bottom: 100px;
}