* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}

.header {
    position: relative;
    z-index: 1234;
}



.dash {
    position: absolute;
    top: 44px;
}

.media {
    display: flex;
    gap: 7px;
}

.handover-button {
    min-width: 200px;
    background-color: #F48120 !important;
    border: none !important;
    padding: 15px;
}

.handover-button-type-2 {
    background-color: #ffffff !important;
    border: 1px solid rgb(246 246 246) !important;
    color: #000000 !important;
}

.menu_item ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu_item ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;

}

.handover-main-heading {
    font-size: 2.8rem;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}

.search-box {
    background: #ffffff;
    width: fit-content
}

.handover-shadow-div {
    box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    -webkit-box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    -moz-box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    background: #ffffff;
    border-radius: 11px;
}

.map_div {
    -webkit-box-shadow: -1px 5px 16px 0px rgba(14, 97, 219, 1);
    -moz-box-shadow: -1px 5px 16px 0px rgba(14, 97, 219, 1);
    box-shadow: -1px 5px 16px 0px rgba(14, 97, 219, 1);
    background: #0d6efd;
    width: 360px;
    padding: 20px;
    position: relative;
    color: #ffffff;
    border-radius: 11px;

}

.custom-form-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dadada;
    outline: none;
    width: 100%;
}

.footer-menu-item ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.footer-menu-item li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;

}

.homeover-section {
    padding: 100px;
}

.second-section-heading {
    max-width: 700px;
    font-size: 2.6rem;
    text-align: center;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .homeover-section {
        padding: 15px;
    }

    .second-section-heading {
        font-size: 1.5rem;
    }
    .contact-us-form-div{
        position:relative !important;
        top:0px;
        margin-bottom: 150px !important;
    }
}

.delivery-fee-form {
    position: fixed;
    background: #ffffff;
    height: 100vh;
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    top: 0;
}

.delivery-fee-form-first-section {
    border: 1px solid #dadada;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.delivery-fee-second-form {
    position: fixed;
    bottom: 10px;
    left: 470px;
}

.cancel-button{
    background: #E3E1E1;
    border: none;
    color: black;
    width: 50%;
}

.pickup-outer-div{
    background-color: #ffffff;
    border-radius: 11px;
}

.map-marker {
    font-size: 24px;
  }

.form-error{
    color:red;
    text-transform: capitalize;
}

.main1{
    width: 1334px;
    height: 354px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ECF8FF;
    margin-left: 65px;
    margin-top: 100px;
    position: relative;

}

.div1{
    color: #3D3D3D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.1px;
    margin-top: 50px;
    margin-left: 80px;
}

.div2{
    color: #262626;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
    letter-spacing: -0.12px;
    margin-left: 75px;
}

.imgee{
    width: 221.25px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-left: 72px;
}

.logoo1{
    width: 242px;
    height: 471px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 700px;
    margin-bottom: 1000px;
}